<h2 mat-dialog-title><b>Información de Usuario</b></h2>
<mat-dialog-content>
  @if(auth.user()?.email && userSignal()?.nombre !== undefined){
    <p><strong>Email:</strong> {{ auth.user()?.email }}</p>
    <p><strong>Nombre:</strong> {{ userSignal()?.nombre }}</p>
    <p><strong>Apellido:</strong> {{ userSignal()?.apellido  }}</p>
    <p><strong>Edad:</strong> {{ userSignal()?.edad  }}</p>
  }@else {
    <p><strong>Logeate para ver tu información</strong></p>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
