<header class="header">
  <div class="sub-header">
    <div class="header-left">
      <button class="toggle-btn" (click)="toggleSidebar.emit()">☰</button>
      <span class="title">Sala de Juegos</span>
    </div>

    <div class="header-right">
      @if(auth.user() !== null) {

      <div class="user-avatar" (click)="openUserModal()">
        <img src="assets/user.png" alt="Usuario" class="avatar" />
      </div>
      <button class="btn-logout" (click)="auth.cerrarSesion()">
        Cerrar Sesión
      </button>

      }@else{
      <button class="btn-login" (click)="goTo('/login')">Iniciar Sesión</button>
      <button class="btn-register" (click)="goTo('/registro')">Registrarse</button>
      }
    </div>
  </div>
</header>
