.title {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.sub-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left .title {
  margin-left: 0.5rem;
}
.header-right .user-avatar {
  margin-right: 0.5rem;
}
.user-avatar {
  margin-left: 1rem;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.2s;
}

.avatar:hover {
  transform: scale(1.1);
}

.btn-logout {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #e53e3e;
  color: #ffffff;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-logout:hover {
  background-color: #c53030;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn-logout:active {
  background-color: #9b2c2c;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-logout:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.btn-login {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #118ab2;           
  color: #f9f7f3;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-login:hover {
  background-color: #073b4c;            
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn-login:active {
  background-color: #073b4c;           
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-login:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.btn-register {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #06d6a0;            
  color: #f9f7f3;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-register:hover {
  background-color: #386641;            
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn-register:active {
  background-color: #386641;            
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-register:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 187, 120, 0.6);
}
