<div style="width: 100%; height: 100vh; background-color: black">
  <button class="button" (click)="goTo()">
    <div class="button-box">
      <span class="button-elem">
        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
      <span class="button-elem">
        <svg viewBox="0 0 46 40">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
    </div>
  </button>
  <div class="sudoku-container">
    
    <header class="sudoku-header">
      <h1>Sudoku</h1>
      <div class="timer">
        {{ formattedTime }}
      </div>
    </header>


    @if(gameOver) {
    <div class="overlay">
      <div class="message-container">
        @if(gameWon) {
          <span class="message winner">
            <h4>¡Ganaste!</h4>
            <button (click)="newGame()" class="btn">Jugar de nuevo</button>
          </span>
        } @else {
          <span class="message loser">
            <h4>¡Perdiste!</h4>
            <button (click)="newGame()" class="btn">Jugar de nuevo</button>
          </span>
        }
      </div>
    </div>
  }
  
  <div class="board-wrapper">
    @if(isLoading()) {
      <div class="loading">
        <h4>Cargando…</h4>
      </div>
    } @else {
      <table class="board">
        @for (i of [0,1,2]; track $index) {
          <tr>
            @for (j of [0,1,2]; track $index) {
              <td>
                <div class="block">
                  @for (row of [0,1,2]; track $index) {
                    <div class="row">
                      @for (col of [0,1,2]; track $index) {
                        <input
                          type="number" min="1" max="9"
                          class="box"
                          maxlength="1"
                          [value]="playerBoard[i*3+row][j*3+col]"
                          (input)="updateCell($event, i*3+row, j*3+col)"
                        />
                      }
                    </div>
                  }
                </div>
              </td>
            }
          </tr>
        }
      </table>
    }
  </div>
  <div class="buttons">
    <button (click)="checkBoard()" class="btn">Chequear</button>
    <button (click)="completeBoard()" class="btn">Completar</button>
  </div>
</div>
